* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.1em;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background: #514fd388;
}

::selection {
  background: #514fd388;
}

h1 {
  font-family: Montserrat;
  font-size: 2em;
}

.--active {
  padding: 10px;
  font-size: 1.5em;
  border-radius: 20px;
  outline: none;
  border: none;
  color: white;
  background-color: #524fd3;
  -webkit-filter: drop-shadow(0px 1px 4px #524fd3);
          filter: drop-shadow(0px 1px 4px #524fd3);
  cursor: pointer;
}

.--active:hover {
  background: #625fd7;
}

p + .--active {
  margin-top: 50px;
  padding: 20px;
}

@-webkit-keyframes popUp {
  from {
    opacity: 0;
    background-color: #a7aca7;
    display: none;
    margin-top: -100px;
  }
}

@keyframes popUp {
  from {
    opacity: 0;
    background-color: #a7aca7;
    display: none;
    margin-top: -100px;
  }
}

::-webkit-scrollbar {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(100deg, #524fd3, rgba(255, 255, 255, 0.287));
  border-radius: 10px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: #414040;
  color: white;
  padding: 20px 50px;
  border-bottom: 6px solid #aaaaaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 999;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__title {
  font-size: 2em;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-top: 0px;
  position: absolute;
  right: 3%;
}

.header .nav__list .nav__list__item {
  text-align: center;
  width: 150px;
  border-radius: 10px;
  margin: 0 20px;
  padding: 10px;
  border: 4px solid transparent;
  cursor: pointer;
}

.header .nav__list .nav__list__item:hover {
  border: 4px solid gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.interface .mainContent {
  position: relative;
  width: 50%;
  height: auto;
  margin: 150px auto;
  padding: 50px;
  -webkit-box-shadow: inset 10px 10px 10px rgba(204, 203, 203, 0.603), 10px 10px 10px rgba(207, 207, 207, 0.555);
          box-shadow: inset 10px 10px 10px rgba(204, 203, 203, 0.603), 10px 10px 10px rgba(207, 207, 207, 0.555);
}

.interface .mainContent__title {
  margin-bottom: 30px;
}

.interface .mainContent__text {
  line-height: 43px;
  word-spacing: 5px;
  letter-spacing: 1.4px;
  word-break: break-all;
  word-wrap: break-word;
  text-align: justify;
  color: #555252;
}

.interface .mainContent__text::first-letter {
  font-family: Montserrat;
  font-size: 1.5em;
  font-weight: bold;
}

.secondaryContent {
  position: fixed;
  left: 0;
  top: 200px;
  font-family: monospace;
  background-color: #524fd3;
  color: white;
}

.secondaryContent__warning {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.footer {
  -webkit-box-shadow: 10px -10px 20px rgba(209, 208, 208, 0.658);
          box-shadow: 10px -10px 20px rgba(209, 208, 208, 0.658);
  padding: 10px;
  text-align: center;
  font-size: 1em;
  color: #b8b7b7;
}

.footer__icon {
  font-size: 2em !important;
  margin: 20px;
}

@media only screen and (max-width: 1100px) {
  .nav__list__btn {
    position: absolute;
    top: 100px;
    right: 0;
  }
  .interface .mainContent {
    width: 80%;
  }
  .interface .mainContent__text {
    line-height: 35px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 1em;
  }
  .interface .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    height: 100px;
  }
  .interface .header .nav__list .nav__list__item {
    margin: 0;
    margin-right: -6px;
    margin-top: 40px;
    width: 100px;
    word-break: break-all;
    border-bottom: 3px solid grey;
  }
  .interface .mainContent {
    width: 80%;
  }
  .interface .mainContent__text {
    line-height: -30px;
  }
}

.interface {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */