.mainContent {
  position: relative;
  width: 50%;
  height: auto;
  margin: 150px auto;
  padding: 50px;
  box-shadow: inset 10px 10px 10px $lightenColor,
    10px 10px 1px $mainColor;
    border: 4px solid transparent;
    @include transitionTime('rapid');

  &:hover {
    border: 4px solid $thirdColor;
    @include transitionTime('rapid')
  }
  &__text {
    @include typeText("text");
  }
}
