.--active {
 padding: 10px;

 border-radius: 20px;
 color: $mainFontColor;
 background: $mainColor;
 filter: drop-shadow(0 1px 4px $mainColor);
 cursor: pointer;
 @include nonePreset();
 @include typeText('subtitle');
 &:hover {
   background: lighten($mainColor, 4%);
 }
}

p + .--active {
 margin-top: 50px;
 padding: 20px;
}
