* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-size: 1.1em;
}

html {
 scroll-behavior: smooth;
}

::selection {
 background: #514fd388;
}

h1 {
 font-family: Montserrat;
 font-size: 2em;
}